GOOGLE_GENERATIVE_AI_API_KEYS=AIza...,AIza...,AIza...
PORT=8080
PUBLIC_BASE_URL=http://localhost:8080
AUTH0_DOMAIN=dev-sq1ji1rvh2hyd6cr.us.auth0.com
AUTH0_CLIENT_ID=L3V8uc3Du71HX6gj306gYuVmM9xclq94
AUTH0_CLIENT_SECRET=PASTE_YOUR_AUTH0_CLIENT_SECRET_HERE
AUTH0_TOKEN_VAULT_CLIENT_ID=PASTE_YOUR_TOKEN_VAULT_CLIENT_ID_HERE
AUTH0_TOKEN_VAULT_CLIENT_SECRET=PASTE_YOUR_TOKEN_VAULT_CLIENT_SECRET_HERE
AUTH0_API_AUDIENCE=https://phantom-auth0-api
AUTH0_MY_ACCOUNT_AUDIENCE=https://dev-sq1ji1rvh2hyd6cr.us.auth0.com/me/
AUTH0_GOOGLE_CONNECTION=google-oauth2
AUTH0_GITHUB_CONNECTION=github
AUTH0_SLACK_CONNECTION=slack
